

.input_text::-webkit-input-placeholder{ color:#000; }
.input_text:-moz-placeholder{ color:#000; }
.input_text::-moz-placeholder{ color:#000; }
.input_text:-ms-input-placeholder{ color:#000; }
.search{width: 632px;height: 152px;position: absolute;left: 50%;margin-left: -316px; top: 54%;color: #fff}
.search .top_search{width: 632px; height: 110px; background: rgba(0,0,0,.62);border-radius: 4px;}
.search .hot_tip{height: 42px; line-height: 42px;}
.search .hot_tip a{color: #fff; padding: 0 10px 0 5px}
.search .radio_wrap{padding: 14px 0 0 14px;height: 18px; line-height: 18px;}
.search .sele_dan{margin-right: 15px}
.search .sele_dan span{width: 18px;height: 30px;background-position: 0 -296px;display: inline-block; vertical-align: middle;margin-right: 5px}
.search .search_input{margin-left: 14px;margin-top: 15px}
.search .input_text{width: 539px; height: 46px; line-height: 46px; color: #666;border-radius: 3px; background: #fff;padding-left: 10px}
.search .icon_input{width: 46px; height: 46px; background: #1182e3; border-radius: 6px;margin-left: 10px}
.search .icon_input span{display: inline-block;width: 26px; height: 26px; background-position: -100px 0; margin: 8px 0 0 9px; cursor: pointer}
.tocket_content{width: 1220px; margin: 0 auto;}
.top_title{background: url(../images/index_11.png) no-repeat;width: 159px; height: 55px; line-height: 55px; text-align: center;color: #fff; font-size: 20px; margin: 0 auto;}
.tocket_content .more{ float: right;background: url(../images/index_15.png) no-repeat;width: 66px; height: 26px; line-height: 26px; text-align: center; color: #fff;background-size: 100%;display: inline-block;}
.tocket_content .first_img{width: 1210px;position: relative;height: 315px;box-shadow: 5px 6px 8px #d4d4d4; }
.tocket_content .mores{width: 100%;height: 26px;margin-bottom: 20px}
.tocket_content .first_img img{width: 1210px;height: 315px;border-radius: 6px;overflow: hidden;}
.tocket_content .tuijian{background: url(../images/tj.png) no-repeat; width: 135px; height: 105px;position: absolute;z-index: 2;left: -22px; top: -17px}
.tocket_content .layers,.tocket_content .layerss{position: absolute; left: -100%; top: 0; background: rgba(0,0,0,.5);width: 100%; height: 100%;border-radius: 6px;}
.tocket_content .layerss{width: 100%; height: 100%;}
.tocket_content .tit_img{font-size: 22px;color: #fff; text-align: center; padding: 110px 15px 0;}
.tocket_content .tits_txt{color: #fff; text-align: center; margin-top: 10px}
.tocket_content .newprice{color:#ffd200}
.tocket_content .oldprice{text-decoration:line-through}
.tocket_content .style2{font-size: 30px}
.tocket_content .style3{font-size: 16px}
.tocket_content .style1{font-size: 20px}
.tocket_content .style4{font-size: 16px}
.tocket_content .style5{font-size: 22px}
.tocket_content .style6{font-size: 12px}
.tocket_content .second_img{width: 1220px;margin-top: 10px;}
.tocket_content .every_img{width: 600px; margin-right: 10px;position: relative;box-shadow: 5px 6px 8px #d4d4d4; height: 232px;}
.mt65{margin-top: 65px;}
.tocket_content .w396{width: 396px; height: 522px;box-shadow: 5px 6px 8px #d4d4d4; position: relative;}
.tocket_content .w396 img{width: 396px; height: 522px;border-radius: 6px; overflow: hidden;}
.tocket_content .pdt75{padding-top: 75px;}
.tocket_content .pdt185{padding-top: 185px;}
.tocket_content .w398{width: 398px;margin:0 10px;height: 522px}
.tocket_content .top_398{width: 398px;height: 256px;position: relative;box-shadow: 5px 6px 8px #d4d4d4;}
.tocket_content .top_398:first-child{margin-bottom: 10px;}
.tocket_content .w600{width: 600px;height: 474px;position: relative;margin-right:10px;box-shadow: 5px 6px 8px #d4d4d4;}
.tocket_content .top_600{width: 600px; height: 232px;position: relative;box-shadow: 5px 6px 8px #d4d4d4;}
.tocket_content .top_600:first-child{margin-bottom: 10px}

.tocket_content .every_jq{overflow: hidden; cursor: pointer;}
.tocket_content .layeranimate{animation:myfirst .5s;-moz-animation:myfirst .5s; -webkit-animation:myfirst .5s; -o-animation:myfirst .5s;}

@keyframes myfirst
{
from {left:-100%;}
to {left:0;}
}

@-moz-keyframes myfirst
{
    from {left:-100%;}
    to {left:0;}
}

@-webkit-keyframes myfirst
{
    from {left:-100%;}
    to {left:0;}
}

@-o-keyframes myfirst 
{
    from {left:-100%;}
    to {left:0;}
}





.mb140{margin-bottom: 140px;}

.content_warp{background: url(../images/bgs_02.jpg) no-repeat #7dbfe8;width: 100%; padding: 350px 0 170px 0}
.content_warp .inner_warp{width: 1166px; margin:0 auto;background: rgba(255,255,255,.9);padding: 10px 28px 80px;}
.content_warp .tit_cont,.content_warp .local_current{height: 14px;padding: 13px 13px 13px 0;overflow: hidden;line-height: 14px}
.content_warp .tit_cont .single{display:inline-block;width:0;height:0;border-width:7px 0 7px 7px; border-style:solid;border-color:transparent transparent transparent #1182e3;padding-right: 5px;}
.content_warp .local_current span{color: #1182e3}
.content_warp .titles_tip{height: 25px;border-bottom: solid 2px #1182e3;padding-right: 10px}
.content_warp .search_1{height: 42px;line-height: 42px; background: #fef1e5;border-top: solid 1px #d1d1d1;color: #222;font-size: 16px}
.content_warp .local_current{padding-top: 0}
.content_warp .search_1 .address{padding-left: 18px;}
.content_warp .search_1 .address input{height: 24px; line-height: 24px;padding-left: 10px; background: #fff; border: solid 1px #d1d1d1;width: 80px;font-size: 12px;}
.content_warp .search_1 .homenum{margin-left: 18px;}
.content_warp .homesel{font-size: 12px; position: relative;}
.content_warp .homesel p{height: 24px; line-height: 24px;padding-left: 10px; background: #fff; border: solid 1px #d1d1d1;width: 65px;margin-top: 10px; margin-left: 10px}
.content_warp .xuanze{position: absolute;display:inline-block;width:0;height:0;border-width:5px 5px 0px; border-style:solid;border-color:#1182e3 transparent transparent;top: 20px;right: 8px}
.content_warp .homesel ul{border:solid 1px #d1d1d1;width: 75px;border-bottom: none;position: absolute;right: 0;top: 35px;display: none;background: #fff;z-index: 2;}
.content_warp .homesel ul li{height: 24px; line-height: 24px;padding-left: 10px;width: 65px;border-bottom: solid 1px #d1d1d1}
.content_warp .wenh{width: 16px;height: 16px;border-radius: 50%;background: #1182e3; color: #fff; text-align: center; line-height: 16px;margin: 15px 0 0 8px;font-size: 12px}
.content_warp .search_1  .guanjian input{width: 112px}
.content_warp .search_1 .btn_search{width: 73px; height: 24px; line-height: 24px; color: #fff;text-align: center; background: #1182e3;margin: 10px 0 0 21px;border-radius: 3px;cursor: pointer;}
.content_warp .search_wrap{border: solid 1px #d1d1d1; border-top: none; border-bottom: none}
.content_warp .hot_sel{height: 55px;padding-left: 18px; line-height: 55px; border-bottom: solid 1px #d1d1d1;color: #222}
.content_warp .tit{color: #666}
.content_warp .quans p{width: 100px;margin-top: 15px;height: 31px; line-height: 31px; margin-top: 11px; margin-left: 77px;}
.content_warp .quans .xuanze{top: 14px;}
.content_warp .quans ul{width: 110px;top: 25px;}
.content_warp .quans ul li{width: 100px; height: 31px; line-break: 31px;}
.content_warp .hotspan{padding: 0 8px;height: 33px; line-height: 33px; margin-top: 11px;border: solid 1px #d1d1d1;border-radius: 4px;margin-left: 10px; cursor: pointer;}
.content_warp .hotspan:hover{border:solid 1px #06c}
.modular-filter{ background-color: #fff; border-left: 1px solid #d9e8ff; border-right: 1px solid #d9e8ff;}
.filterItem{ padding-left: 80px;  border-bottom: 1px solid #d1d1d1;}
.filterItem-hd{ float: left; margin-left: -80px; padding: 15px 0 0 15px; width: 65px; color: #666;}
.filterItem-bd{ padding-left: 72px;}
.filterItem-bd .btn-unlimited{ float: left; margin: 16px 0 0 -48px; cursor: default;}
.filterItem-bd .btn-unlimited.cur,
.filterItem-bd .btn-unlimited.cur:hover{ color: #06c;}
.filterItem-bd .btn-unlimited:hover{ color: #666;}
.filterItem-bd .icon_down,.filterItem-bd .icon_up{ margin-left: 5px;}
/*=s 筛选布局*/
/*=s 筛选标题list*/
.filterItem-bd .selectList{ padding-top: 9px; border-bottom: 1px solid transparent;}
.filterItem-bd .selectListCur{ border-bottom: 1px solid #39f;}
.filterItem-bd .selectList li{ float: left; padding: 5px 13px 9px 17px; margin:0 0 -1px 5px; border:1px solid transparent; border-radius: 3px 3px 0 0; cursor: default;}
.filterItem-bd .selectList li.cur{ color: #06c; border: 1px solid #39f; border-bottom: none; padding:6px 13px 9px 17px}
.filterItem-bd .selectList li:hover{ color: #06c;}
.filterItem-bd .selectList .num{ display: inline-block; vertical-align: middle; padding: 0 5px; margin-left: 3px; height: 14px; line-height: 14px; color: #fff; background-color: #39f; border-radius: 7px;display: none}
/*=e 筛选标题list*/
/*=s 二级标题*/
.filterItem-bd .selectSecList{ border-bottom: 1px solid #f1f1f1;}
.filterItem-bd .selectSecList li{ float: left; margin: 0 12px; height: 36px; line-height: 36px; border-bottom: 3px solid transparent; cursor: default;}
.filterItem-bd .selectSecList li.cur{ color: #06c; border-color: #39f;}
/*=e 二级标题*/
/*=s 单个选项不定宽*/
.filterItem-bd .optionList{ position: relative; padding-top: 5px; margin-bottom: 10px;}
.filterItem-bd .optionList .optionList-more{ position: absolute; right: 20px; bottom: 10px; width:50px; text-align: right; cursor: default;}
.filterItem-bd .optionList dfn{ padding: 0; color: #333; font-family: Arial;}
.filterItem-bd .optionList-item{ position: relative; float: left; *float: none; *display:inline; padding: 7px 10px; margin: 5px 5px 0 0; border: 1px solid #e0e0e0; border-radius: 3px; text-align: center; *zoom:1;}
.filterItem-bd .optionFixList .optionList-item{ width: 72px; overflow: hidden; white-space:nowrap; text-overflow: ellipsis;}
.filterItem-bd .optionList-item.cur,
.filterItem-bd .optionList-item:hover{ color: #06c; border-color: #3399ff; cursor: default;}
.filterItem-bd .optionList .text_orange{ margin-right: 5px;}
.filterItem-bd .optionList .ico-hook{ position: absolute; right: -1px; bottom: -1px; width: 11px; height: 11px; background-position:  -233px -288px;}
.filterItem-bd .optionList .optionList-more:hover{ color: #06c;}
/*=e 单个选项不定宽*/

.hotellist{margin-top: 35px;}
.hotellist .imgwarp{width: 342px; height: 220px;}
.hotellist .introduce{margin-left: 38px;width: 360px}
.hotellist ul li{border-bottom: solid 1px #b1b1b1;padding-bottom: 25px;margin-bottom: 25px}
.hotellist .introduce .paim{background-position: -201px -100px;width: 21px;height: 24px;display: inline-block; text-align: center;color: #fff;font-size: 14px; line-height: 24px;margin-right: 8px}
.hotellist .introduce h3{font-size: 18px;color: #1182e3}
.hotellist .introduce .tits1{font-size: 14px; color: #666;padding-top: 20px; line-height: 22px; max-height: 44px; overflow: hidden;}
.hotellist .introduce .tits2{font-size: 14px; color: #989898}
.hotellist .introduce .tips{margin-top: 20px;}
.hotellist .introduce .tips span{display: inline-block;padding:0 3px; color: #fff;margin-right: 8px;background: #ffd200}
.hotellist .introduce .iconsmore{margin-top: 30px;}
.hotellist .introduce .iconsmore span{display: inline-block;width: 24px; height: 24px;margin-right: 10px}
.hotellist .introduce .tip1{background-position: -100px -100px}
.hotellist .introduce .tip2{background-position: -100px -200px}
.hotellist .introduce .tip3{background-position: -100px -300px}
.hotellist .introduce .tip4{background-position: -100px -400px}
.hotellist .introduce .tip5{background-position: -200px 0px}
.hotellist .introduce2{margin-left: 50px;}
.hotellist .introduce2 p{line-height: 28px}
.hotellist .introduce2 p span{color: #fb8221}
.hotellist .lookmore{margin-left: 70px;}
.hotellist .price{font-size: 30px; color: #fa631e; font-weight: 600}
.hotellist .price span{font-size: 14px;}
.hotellist .lookmore a{width: 105px; height: 36px; line-height: 36px;text-align: center;color: #fff;background: #fb8221;display: block;border-radius: 4px;font-size: 16px;margin-top: 15px}

/*.erweima{*/
    /*float: left;*/
/*}*/
/*.foot .dls dl{*/
    /*float: left;*/
    /*padding-right: 36px;*/
/*}*/
/*.foot .dls dl dt{*/
    /*font-size: 16px;*/
    /*color: #fff;*/
/*}*/
/*.foot .dls dl dd{*/
    /*font-size: 14px;*/
    /*color: #fff;*/

/*}*/

.ticket_warp{background: url(../images/ticket1.jpg) no-repeat #7dbfe8;}
.ticket_warp .inner_warp,.tourist_warp .inner_warp{background: rgba(255,255,255,.75)}
.list_ticket{margin-top: 30px;}
.list_ticket ul{margin-bottom: 15px}
.list_ticket ul li{width: 370px;height: 253px;float: left;box-shadow: 3px 4px 14px #97aec6;margin:0 28px 10px 0;}
.list_ticket ul li:nth-child(3n){margin-right: 0}
.list_ticket .top_cont{width: 360px;height: 205px;border:solid 5px #ffd200; border-bottom: none;position: relative; overflow: hidden}
.list_ticket .top_cont .img_detail{height: 36px; line-height: 36px;background: rgba(0,0,0,.5);color: #fff; text-align: center;width: 100%;position: absolute;left: 0; bottom: 0}
.list_ticket .top_cont img{width: 100%}
.list_ticket .bottom_cont{height: 43px;line-height: 43px;background: #fff;padding: 0 10px}
.list_ticket .money{font-size: 26px; color: #fb2c0b}
.list_ticket .bottom_cont{height: 43px;line-height: 43px;background: #fff;padding: 0 10px}
.list_ticket .moneytip{color:#fb2c0b }
.list_ticket .yj{text-decoration: line-through; font-size: 20px;color: #ababab}
.list_ticket .agrees{color: #ababab;}
.tourist_warp{background: url(../images/ticket.jpg) no-repeat #7dbfe8;}



.jcDateIco { background:#fff url(../images/dateIco.png) no-repeat right center; }
input.jcDate { cursor:pointer; }
#jcDate { background:#fefefe; width:161px; padding:10px; height:203px; position:absolute; z-index:1000; border:2px solid #2b84b5; color:#333; display:none;  overflow:hidden; }
#jcDateTt { height:15px; line-height:15px; position:relative; margin-bottom:10px; }
#jcDateTt a { color:#333; display:block; position:absolute; top:0; width:15px; height:15px; cursor:pointer; }
#jcDateTt a#d_prev { background:url(../images/r_left.png) no-repeat center 3px; left:0; }
#jcDateTt a#d_next { background:url(../images/r_right.png) no-repeat center 3px; right:0; }
#jcDateTt a#d_prev:hover { background-position:center -11px; background-color:#2b84b5; }
#jcDateTt a#d_next:hover { background-position:center -11px; background-color:#2b84b5; }
#jcDateTt div { position:absolute; top:0; left:15px; right:15px; bottom:0; color:#333; font-size:12px; font-weight:bold; text-align:center; }
#jcDateTt div samp,#jcDateTt div span { margin:0 5px; color:#333; font-size:12px; font-weight:bold; cursor:pointer; }
#jcDateTt div samp:hover,#jcDateTt div span:hover,#jcDateTt div samp.visited,#jcDateTt div span.visited { color:#2b84b5; }
#jcDateMax { width:1935px; height:124px; position:relative; left:-687px; top:0;}
#jcDateMax ul { width:161px; float:left; height:124px; display:inline-black; }
#jcDayWrap { overflow:hidden; }
#jcYeas,#jcMonth { display:none; overflow:hidden; padding-left:2px; margin-bottom:10px; }
#jcYeas dt,#jcYeas dd { font-weight:bold; width:53px; height:30px; float:left; text-align:center; line-height:30px; cursor:pointer; }
#jcYeas dt:hover,#jcYeas dd:hover,#jcMonth dt:hover,#jcMonth dd:hover { background:#5aaad8; color:#fff; }
#jcYeas dt.visited,#jcYeas dd.visited,#jcMonth dt.visited,#jcMonth dd.visited { background:#2b84b5; color:#fff; }
#jcMonth dt { font-weight:bold; width:53px; height:25px; float:left; text-align:center; line-height:25px; cursor:pointer; margin:10px 0; }
#jcDayWrap ul li,
#jcDayCon dt { float:left; width:23px; line-height:20px; text-align:center; display:inline; }
#jcDayWrap ul li { color:#bbb; cursor:pointer; }
#jcDayCon dt { color:#2b84b5; font-size:13px; }
#jcDayWrap ul li.jcDateColor { color:#555; }
#jcDayWrap ul li.visited { background:#2b84b5; color:#fff; }
#jcDayWrap ul li:hover { background:#5aaad8; color:#fff; }
#jcDateMax { clear:both; }
#jcDateBtn { clear:both; line-height:19px; height:19px; padding-top:10px; overflow:hidden; }
#jcTimeWrap { float:right; width:54px; border:1px solid #999; border-left:1px solid #555; border-top:1px solid #555; height:17px; overflow:hidden; display:none; }
#jcDateBtn label { width:6px; line-height:18px; height:17px; display:block; float:left; text-align:center; color:#333; }
#jcDateBtn input { line-height:17px; height:17px; text-align:center; float:left; width:24px; border:0; }
#jcDateBtn samp,#jcDateBtn span { float:left; margin-right:10px; cursor:pointer; }
#jcDateBtn samp:hover,#jcDateBtn span:hover { color:#d52222; }
#jcDateBtn a#d_sub { width:37px; float:right; display:block; line-height:18px; height:17px; text-align:right; cursor:pointer; }
#jcDateBtn a#d_sub:hover { text-decoration:none; color:#d52222; font-weight:bold; }