.navbanner{position: fixed;width:100%;height: 123px;background: rgba(255,255,255,.7);left: 0; top: 0;z-index: 2;}
.banner_ds{background: url(../images/indexs_01.png) no-repeat;width: 100%;position: relative;}
.navbanner .logo{width: 83px;height: 79px;margin-top: 25px; margin-left: 170px;}
.navbanner .banner_cont{width: 1220px; margin: 0 auto}
.navbanner .navselect{height: 68px; line-height: 68px;margin:25px 0 0 20px;}
.navbanner .navselect li{float: left; font-size: 16px; margin-left: 45px; padding: 0 5px}
.navbanner .navselect li.active{ border-bottom: solid 3px #5750ff;}
.navbanner .navselect li.active a{color:#5750ff}
.navbanner .nav_rf{height: 36px; margin-top: 44px;margin-right: 170px}
.iconcom{background: url(../images/icon1.png) no-repeat;}
.navbanner .qq{background-position: 0 0; }
.navbanner .nav_rf span{width: 36px; height: 36px;margin-right: 15px}
.navbanner .weichat{background-position: -1px -101px; }
.navbanner .sina{background-position: -1px -200px; }
.navbanner .nav_rf a{height: 36px; line-height: 36px; font-size: 16px;font-weight: 600}
.navbanner .login{color: #5750ff;margin-right: 10px}
.search{width: 632px;height: 152px;position: absolute;left: 50%;margin-left: -316px; top: 54%;color: #fff}
.search .top_search{width: 632px; height: 110px; background: rgba(0,0,0,.62);border-radius: 4px;}
.search .hot_tip{height: 42px; line-height: 42px;}
.search .hot_tip a{color: #fff; padding: 0 10px 0 5px}
.search .radio_wrap{padding: 14px 0 0 14px;height: 18px; line-height: 18px;}
.search .sele_dan{margin-right: 15px}
.search .sele_dan span{width: 18px;height: 30px;background-position: 0 -296px;display: inline-block; vertical-align: middle;margin-right: 5px}
.search .search_input{margin-left: 14px;margin-top: 15px}
.search .input_text{width: 539px; height: 46px; line-height: 46px; color: #666;border-radius: 3px; background: #fff;padding-left: 10px}
.search .icon_input{width: 46px; height: 46px; background: #1182e3; border-radius: 6px;margin-left: 10px}
.search .icon_input span{display: inline-block;width: 26px; height: 26px; background-position: -100px 0; margin: 8px 0 0 9px; cursor: pointer}
.tocket_content{width: 1220px; margin: 0 auto;}
.top_title{background: url(../images/index_11.png) no-repeat;width: 159px; height: 55px; line-height: 55px; text-align: center;color: #fff; font-size: 20px; margin: 0 auto;}
.tocket_content .more{ float: right;background: url(../images/index_15.png) no-repeat;width: 66px; height: 26px; line-height: 26px; text-align: center; color: #fff;background-size: 100%;display: inline-block;}
.tocket_content .first_img{width: 1210px;position: relative;height: 315px;box-shadow: 10px 10px 5px #d4d4d4; border-radius: 6px;overflow: hidden;}
.tocket_content .mores{width: 100%;height: 26px;margin-bottom: 20px}