.index_nav{width: 1220px; margin: 0 auto;height: 92px;}
.index_nav .logos{width: 75px;height: 72px;margin-top: 10px}
.index_nav .logos img{width: 100%}
.index_nav .nav_cont{background: url(../images/nav.png);width:944px;height: 92px; margin-left: 10px}
.index_nav .nav_cont ul{ margin-left: 10px}
.index_nav .nav_cont ul li{float: left;font-size: 16px;height: 79px; line-height: 92px; padding: 0 10px;margin-left: 60px}
.index_nav .nav_cont ul li a{ color: #fff;}
.index_nav .nav_cont ul li.active{border-bottom: solid 3px #5750ff}
.index_nav .nav_cont ul li.active a{color: #5750ff}
.index_nav .search{width: 155px;height: 33px; margin-top: 30px}
.index_nav .search input{width: 153px;height: 31px;}