
/*----------------------景区详情------------------------*/
.s_banner{
    background: url('../images/scenic_banner.png');
    repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    height: 875px;
}

.content{
    width: 1220px;
    margin: 0 auto;
}
.s_top{
    border-bottom: 1px solid #e8e8e8;

}
.s_title{
    border-bottom: 2px solid #1182e3;
    float: left;
    height: 54px;
    line-height: 54px;
    padding-left: 10px;
}
.s_title span{
    font-size: 14px;
    color: #444444;
}
.s_tab{
    font-size: 14px;
    color: #c7c7c7;
    float: right;
    padding-top: 22px;
}
.s_tab>span{
    color: #1182e3;
}

/*轮播图 */
.s_swiper{
    height: 395px;
    border: 1px solid #f0f0f0;
    margin-top: 46px;
    margin-bottom: 29px;
    padding: 25px 0 0 20px;
}
.s_sl{
    width: 510px;
    height: 350px;
}

/*------------轮播图详细代码 开始---------------*/

.ban{ width:500px; height:349px; position:relative; overflow:hidden;margin:0px auto 0 auto;}
.ban2{ width:500px; height:286px; position:relative; overflow:hidden;}
.ban2 ul{ position:absolute; left:0; top:0;}
.ban2 ul li{ width:500px; height:286px;}
.prev{ float:left; cursor:pointer;}
.num{ height:82px;overflow:hidden; width:430px; position:relative;float:left;}
.min_pic{ padding-top:10px; width:500px;}
.num ul{ position:absolute; left:0; top:0;}
.num ul li{ width:80px; height:51px; margin-right:5px; padding:1px;}
.num ul li.on{ border:1px solid #f23f00; padding:0;}
.prev_btn1{ width:16px; text-align:center; height:18px; margin-top:16px; margin-right:20px; cursor:pointer; float:left;}
.next_btn1{  width:16px; text-align:center; height:18px; margin-top:16px;cursor:pointer;float:right;}
.prev1{ position:absolute; top:125px; left:0px; width:21px; height:32px;z-index:9;cursor:pointer;}
.next1{ position:absolute; top:125px; right:0px; width:21px; height:32px;z-index:9;cursor:pointer;}

/*---------轮播图详细代码 结束----------*/

.s_sr{
    margin-left: 42px;
}
.s_sr h5{
    font-size: 20px;
    color: #1182e3;
    margin: 0;
    padding: 0;
}
.s_sr p{
    font-size: 14px;
    color: #666666;
    margin: 18px auto;
}
.s_price{
    height: 50px;
    line-height: 50px;
    width: 626px;
    background-color: #fff5e6;
    font-size: 14px;
    color: #f23f00;
    padding-left: 20px;
}
.s_price>strong{
   font-size: 24px;
}
.s_price>span{
    color: #b9b9b9;
}
.s_fuwu>span{
    border: 1px solid #1182e3;
    color: #1182e3;
    font-size: 14px;
    padding: 2px 4px;
    margin-right:8px;
}
.s_xiaol>s{
    margin: 0 15px;
    text-decoration: none;
}
p>img{
    vertical-align: middle;
    margin-right: 8px;
}


/*文章详情*/

.s_content{
    background-color: #f8f8f8;
    border: 1px solid #f0f0f0;
    margin-bottom: 136px;
}
.s_tabnav{
    border-bottom: 1px solid #1182e3;
    height: 34px;
}
.s_tabnav .topLink{
    color: #666;
    float: left;
    height: 34px;
    line-height: 34px;
    padding: 0 8px;
    font-size: 16px;
    cursor: pointer;
    margin-right: -1px;
    border: 1px solid #e9e9e9;
    border-bottom: 0;
    border-top: 0;
}
.s_tabnav a.s_on{
    background-color: #1182e3;
    color: #fff;
}

.s_ming{
    background-color: #fff5e6;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #666666;
    border-bottom: 1px solid #e9e9e9;
}
.s_ming>span:first-child{
    padding-left: 60px;
}
.s_mingr{
    margin-right: 120px;
}
.s_mingr>span{
    margin-right: 30px;
}
.s_piao{
    margin: 0 13px;
    border-bottom: 1px solid #e9e9e9;
    height: 38px;
    line-height: 38px;
}
.s_piao>p{
    color: #1182e3;
    font-size: 14px;
    padding-left: 47px;
    float: left;
}

.s_piao>p>span{
    border: 1px solid #1182e3;
    font-size: 12px;
}
.icon-dui{
    background-color: #1182e3;
    padding: 2.5px;
    margin-right: -5px;
    margin-left: 5px;
}
.s_piaor s{
    font-size: 14px;
    color: #666666;
    margin-right: 17px;
}
.s_piaor span{
    color: #f23f00;
    font-size: 14px;
    margin-right: 30px;
}
.s_piaor span strong{
    font-size: 18px;
}
.s_piaor span.zhifu{
    font-size: 12px;
    border: 1px solid #1182e3;
    color: #1182e3;
    margin-right: 42px;
}
.s_piaor button{
    background-color: #fb8221;
    color: #fff;
    width: 66px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    border:0;
    border-radius: 3px;
    margin-right: 20px;
}

/*内容详情*/
.s_artile{
    margin: 0 13px;
}
.s_artile .s_tit{
    font-size: 16px;
    color: #222222;
    height: 38px;
    line-height: 38px;
    padding-top: 10px;
    border-bottom: 1px solid #e9e9e9;
}
.s_artile .s_bg{
    height: 9px;
    border-top: 1px solid #d1d1d1;
    background-color: #eeeeee;
    margin-top: 20px;
}

.s_artile .s_pd{
    padding: 30px 40px;
    border-bottom: 1px dotted #e9e9e9;
    color: #666;
}

.s_artile .s_pd h6{
    font-weight: 400;
    margin: 0px;
    margin-bottom: 12px;
    font-size: 16px;
}
.s_artile .s_pd p{
    font-size: 14px;
    line-height: 24px;
}

.s_introduce{
    padding: 30px 76px;
}
.in_tit{
    color: #ce0000;
    font-size: 14px;
    text-indent:4em;
}
.in_detail{
    padding: 40px 0;
    text-indent: 2em;
    font-size: 14px;
    color: #222222;
    line-height: 30px;
}
.s_introduce img{
    display:block;
    margin: 0 auto;
    width: 67%;
}
.wenxin .wen_tit{
    font-size: 16px;
    color: #222;
    padding-top: 50px;
}
.wenxin p{
    text-indent: 2em;
    line-height: 30px;
}
.jiaotong{
    text-indent: 6em;
    padding: 30px;
}
.s_satif{
    width: 903px;
    margin: 0 auto;
    padding: 32px 40px;
    border-bottom: 1px solid #e9e9e9;
}
.s_satif dl{
    float: left;
    padding-left: 88px;
}
.s_satif dl:first-child{
    text-align: center;
    border-right: 1px solid #e9e9e9;
    padding-right:30px;
    padding-left: 0px;
}
.s_satif dl dd{
    font-size: 14px;
    color: #888888;
    line-height: 30px;
}
.s_satif dl dd strong{
    font-size: 36px;
    color: #fb8221;
}
.s_satif dl dd span{
    font-size: 14px;
    color: #fb8221;
    padding-left: 10px;
}
.progress {
    overflow: hidden;
    height: 12px;
    margin-left: 10px;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    width:100px;
    display: inline-block;
}

.progress .bar {
    width: 0%;
    height: 100%;
    color: #ffffff;
    float: left;
    font-size: 12px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #fb8221;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}
.chuyou{
    text-align: center;
    font-size: 14px;
    color: #888888;
    padding: 16px 0;
}
.ping{
    width: 86px;
    height: 28px;
    line-height: 28px;
    border-radius: 14px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    background: #fb8221;
    margin: 0 auto;
    margin-bottom: 70px;
}

.s_artile #zixun{
    border: 1px solid #e9e9e9;
    background-color: #f8f8f8;
    margin: 32px 82px 20px;
    width: 1020px;
    height: 120px;
    color: #888888;
    font-size: 14px;
    text-indent: 2em;
}
textarea::placeholder{
    color: #888888;
}

.nicheng{
    color: #666;
    font-size: 14px;
    margin-bottom: 26px;
    margin-left: 510px;
}

.nicheng input{
    border: 1px solid #e9e9e9;
    background-color: #f8f8f8;
    width: 86px;
    height: 28px;
}
#code{
    font-family:Arial;
    font-style:italic;
    font-weight:bold;
    border:0;
    letter-spacing:2px;
    color:blue;
    background-color: #f7a93b;
    border: 1px solid #e9e9e9;
}
.nicheng .deng{
    width: 59px;
    height: 28px;
    line-height: 28px;
    background: #fb8221;
    display: inline-block;
    color: #fff;
    text-align: center;
    margin-left: 10px;
    margin-right: 30px;
    border-radius: 3px;
}
.nicheng .tijiao{
    width: 77px;
    height: 28px;
    line-height: 28px;
    background: #f75d1d;
    display: inline-block;
    color: #fff;
    text-align: center;
    margin-left: 30px;
    border-radius: 3px;
    border: 0;
}
.nicheng .yanzh{
    vertical-align: middle;
    margin-left: 10px;
}


/*----------------- 酒店详情 ------------------*/
.h_banner{
    background: url('../images/h_banner.jpg');
    repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    height: 875px;
    width: 100%;
}
.s_sr .h_shu{
    color: #989898;
    margin-bottom: 0;
}

.s_sr .h_map{
    color: #5069ff;
    margin-bottom: 0;
    margin-top: 6px;
}
.s_sr .h_hotel span{
    color: #fff;
    background: #ffd200;
    padding: 1px 4px;
}
.s_sr .h_icon img{
    width: 24px;
    height: 24px;
    display: inline-block;
}
.s_artile .h_hd{
    padding: 33px 65px;
}
.s_artile .h_hd p{
    line-height: 30px;
    text-indent: 2em;
}
.h_date{
    width: 100%;
}
.h_date .h_hp{
    width: 100%;
}
.h_date .h_hp tr{
    border: 1px solid #e2e2e2;
    width: 1190px;
    padding: 0 20px;
}
.h_date .h_hp tr th{
    text-align: left;
    padding: 10px  20px;
    background-color: #fff5e6;
}
.h_date .h_hp tr td{
    padding: 16px 0 16px 16px ;
    margin: 0 20px;
    border-right: 1px solid #e2e2e2;
    vertical-align: text-top;
}
.h_date .h_hp .td_img img{
    width: 101px;
    border-radius: 2px;
    float: left;
    padding: 0 8px 0 0px;
}
.h_date .h_hp tr td span{
    color: #222222;
    line-height: 24px;
}
.h_date .h_hp tr td s{
    text-decoration: none;
    color: #ffd200;
    display: block;
}
.h_date .h_hp .td_img span.icon-xiasanjiao{
    font-size: 12px;
    padding-left: 6px;
}
.h_date .h_hp tr td p{
    color: #1182e3;
}
.h_date .h_hp .h_tdprice i{
    color: #f23f00;
    font-size: 12px;
}
.h_date .h_hp .h_tdprice strong{
    color: #f23f00;
    font-size: 18px;
}
.h_date .h_hp .h_tdprice div{
    display: inline-block;
}
.h_date .h_hp .h_tdprice div.h_btn {
    width: 66px;
    float: right;
    text-align: center;
    padding-right: 36px;
}
.h_date .h_hp .h_tdprice div.h_btn .yuding{
   display: block;
    width: 66px;
    height: 26px;
    line-height: 26px;
    color: #fff;
    background-color: #fb8221;
    border-radius: 3px 3px 0 0;
}
.h_date .h_hp .h_tdprice div.h_btn .zaixian{
   display: block;
    width: 64px;
    height: 14px;
    line-height: 14px;
    font-size: 10px;
    color: #1182e3;
    background-color: #ebf4fd;
    border-radius:0 0 3px 3px;
    border: 1px solid #e2e2e2;
    border-top:0;
}


.s_artile table{
    width: 97%;
    margin: 26px auto 10px;
}
.s_artile table tr{
    margin: 10px 0 10px 20px;
    border-bottom: 1px dotted #ebebeb;
    height: 39px;
    width: 100%;
    font-size: 14px;
    color: #666;
}
.s_artile table th{
    font-size: 14px;
    color: #666;
    text-align: left;
   font-weight: 400;
    padding-left: 20px;
}
.s_artile table td{
    padding-left: 20px;
}
.s_artile table td span{
    padding-right: 10px;
    font-size: 14px;
}
.s_artile table td span.icon-dui{
    color: #1182e3;
}


/*---------------旅游线路-----------------*/
.t_banner{
    background: url('../images/t_banner.jpg');
    repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    height: 875px;
    width: 100%;
}

.t_swiper{
    height: 580px;
    background-color: #f8f8f8;
}
.s_price>strong{
    font-size: 24px;
}
.s_price>span{
    color: #b9b9b9;
}

.t_scheduling{
     padding: 28px 60px 20px;
     border-bottom: 1px solid #e9e9e9;
}
.t_scheduling .xch{
    font-size: 16px;
    color: #fff;
    padding: 5px 10px;
    background-color: #1182e3;
}
.t_scheduling ul{
    margin-top: 16px;
}
.t_scheduling ul li{
    font-size: 14px;
    color: #222222;
    line-height:28px;
}
.t_scheduling ul li:first-child span{
    padding-left: 0;
}
.t_scheduling ul li span{
    color: #666666;
    padding-left:20px;
}
.t_day{
    padding: 20px 40px;
    margin-left: 80px;
    border-left: 1px solid #e9e9e9;
}
.t_day ul li h5{
    font-size: 18px;
    line-height: 30px;
    margin: 0;
}
.t_day ul li.t_dayicon{
    position: relative;
}
.t_day ul li .icon1{
    position: absolute;
    left: -40px;
    top: -20px;
}
.t_day ul li h5 span.icon-car{
    font-size: 14px;
    padding: 0 5px;
}

.t_day .icon1 span.icon-dian{
    font-size: 46px;
    left: -18px;
    top: 37px;
}
.t_day .icon1 span{
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    left: -12px;
    top: 43px;
}

.t_day ul li{
    font-size: 14px;
    color: #222222;
    border-bottom: 1px solid #e9e9e9;
    line-height: 30px;
    padding: 20px 0;
}

.t_day .t_day1 ul li .day_tit{
    font-size: 16px;
}
.t_day .t_day1 ul li .day_color{
    color: #ff852b;
}
.t_day .t_day1 ul li .t_dayimg{
    margin: 20px auto 0;
    text-align: center;
}
.t_day ul li dl dd{
    color: #666666;
    line-height: 30px;
}
.t_day ul li dl dd span.icon-heart{
    font-size: 12px;
    padding-right: 6px;
}
.t_day ul{}



.t_detail{
    width: 560px;
    height: 198px;
    border: 1px solid #d2d2d2;
    background-color: #fff5e6;
    margin-top: 20px;
    padding: 12px 15px;
}
.t_detail .t_select{
    font-size: 14px;
    color: #666666;
    line-height: 43px;
    position: relative;
}

.t_detail .t_select input{
    border: 1px solid #7d7d7d;
    height: 28px;
    line-height: 28px;
    color: #222;
    width: 460px;
    background-color: #fff;
    padding-left: 10px;
}
.t_detail .t_select input::placeholder{
    color: #222;
}
.t_detail .t_select select{
    border: 1px solid #7d7d7d;
    height: 28px;
    line-height: 28px;
    color: #222;
    width: 460px;
    background-color: #fff;
    padding-left: 20px;
}


.t_detail .t_select .icon-xiasanjiao{
    font-size: 12px;
    position: absolute;
    right: 35px;
    top: 17px;
}

.t_detail .t_select .t_select1{
    display: inline-block;
}
.t_detail .t_select .t_select1 img{
    vertical-align: middle;
}
.t_detail .t_select .t_select1 input{
    width: 53px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #d1d1d1;
    text-align: center;
    margin: 0px -5px ;
}
.t_detail .t_yuding{
    font-weight: 700;
    font-size: 16px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    background-color: #fb8221;
    border-radius: 3px;
    color: #fff;
    margin-left: 100px;
    text-align: center;
    margin-top: 10px;
}

.jiaotong>p.t_tc{
    text-indent: 4em;
    font-size: 14px;
    color: #222222;
    line-height: 30px;
}
.jiaotong>p.t_jy{
    font-size: 14px;
    color: #222222;
    line-height: 30px;
    text-indent: 0em;
    padding: 0 55px 0 90px;
}
.t_yh{
    position: relative;
}
.t_yh img{
    width: 57px;
    height: 25px;
}
.t_yh>span{
    color: #fb8221;
    font-size: 12px;
    padding-top: 4px;
    position: absolute;
    left: 100px;
}
.t_yh>span.yhp2{
    left: 170px;
}
.t_yh>span.yhp3{
    left: 240px;
}
p>.tese{
    background-color: #ffd200;
    border-radius: 3px;
    padding: 2px 8px;
    font-size: 12px;
    color: #fff;
    margin-right: 4px;
}


